@use '../../scss/' as *;

button {
    cursor: pointer;
    font-family: $font-family;
}

.btn {
    border: 4px solid transparent;
    background-color: $main-color;
    color: $txt-color;
    border-radius: $border-radius;
    padding: 8px 26px;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0 0 4px 4px #ff00004d;
    transition: box-shadow 0.3s ease;
    position: relative;

    &:hover {
        box-shadow: 0 0 4px 6
        px #ff00004d;
    }
}

.btn-outline {
    border: 4px solid $txt-color;
    background-color: transparent;
    color: $txt-color;
    box-shadow: unset;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        box-shadow: unset;
        color: $main-color;
        background-color: $txt-color;
    }
}

.btn-small {
    border-width: 2px;
    padding: 4px 24px;
    font-size: 16px;
}