$font-family: "Montserrat", sans-serif;

$main-color: #ff0000;
$txt-color: #ffffff;
$body-bg: #0f0f0f;

$box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

$header-height: 128px;
$header-shrink-height: 80px;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;
